$color-primary-light: #f093fb;
$color-primary-dark: #f5576c;

$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;